.item-list-container {
    width: 100%;
    margin-top: 20px;
    border-radius: var(--radius);
    overflow: hidden;
    margin-bottom: 2vh;
    outline: 1px solid var(--gray-min);
    box-shadow: var(--shadow-item);
}

.list-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--gray-dark);
    color: rgb(41, 41, 41);
    font-weight: bold;
}

.header-id {
    width: 5vw; /* Assuming this is intentional for your design */
    text-align: right;
    margin-left: 4px;
}

.header-title {
    flex-grow: 1;
    text-align: left;
    margin-left: 4px;
    padding-left: 5%;
}

.no-results {
    text-align: center;
    padding: 10px;
    background-color: #e99299;
    color: #2c0f13;
}
