.item-list-container {
    width: 100%;
    margin: 0px 0px;
    border-radius: var(--radius);
    overflow: hidden;
    margin-bottom: 2vh;
    outline: 1px solid var(--gray-min);
    box-shadow: var(--shadow-item);
}

.list-header {
    display: grid;
    grid-template-columns: 10px var(--result-list-id-spacing) 1fr 80px 40px;
    padding: 10px 20px;
    background-color: var(--gray-dark);
    color: rgb(41, 41, 41);
    font-weight: bold;
}

.header-id {
    text-align: center;
    grid-column: 2;
}

.header-title {
    text-align: left;
    grid-column: 3;
    padding-left: 16px;
}

.header-score {
    text-align: center;
    grid-column: 4;
}

.no-results {
    text-align: center;
    padding: 10px;
    background-color: #e99299;
    color: #2c0f13;
}

